<%- include("partials/header"); -%>

<main class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4"><%= pageTitle %></h1>
      <p class="lead">
         <%= startingContent %> 
      </p>
    </div>
    <div class="col-md-6 text-center">
      <h2 class="mb-3">Kim Jin</h2>
      <p class="lead">Full stack designer / developer</p>
      <a href="https://github.com/jinyuzhee" class="social-link" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/yuzhe-j-6777a5121/" class="social-link" target="_blank"><i class="bi bi-linkedin"></i></a> 
    </div> 
 </div>
</main> 

<%- include("partials/footer"); -%>